<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>未找到指定页面...</title>


    <link href="../static/css/index.css" rel="stylesheet" media="all" />

</head>
<body id="by">

    <div id="wrap">
    <div>
        <img src="../static/img/404.png" alt="404" />
        <img src="../static/img/no-exists.png" alt="" class="no-exits">
        <img src="../static/img/logo.png" alt="" class="logo"/>
    </div>



<div class="animate below"></div>
<div class="animate above"></div>
</div>

<style type="text/css">

    footer{
	position: absolute;
    bottom: 0;
    width: 100%;
 }

</style>

</body>
</html>
