<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>邮箱激活账号</title>

    <link href="../static/css/index.css" rel="stylesheet" media="all" />
<style type="text/css">

    footer{
	position: absolute;
    bottom: 0;
    width: 100%;
 }

</style>
</head>
<body id="by">

    <div id="wrap">

    <div style="text-align: center;color:#fff;font-size:20px;letter-spacing: 2px;">
        <img src="../static/img/success.png" alt="成功" style="width:200px;height: 200px;"/>
        <h3>注册成功，赶快去所填邮箱<em style="color:#767699;">激活账号</em>吧！</h3>
    </div>


<div class="animate below"></div>
<div class="animate above"></div>
</div>



</body>
</html>