{% extends 'base.html' %}
{% block title %}灰度图上色{% endblock %}



{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>

{% endblock %}

{% block content %}



    	<!--引导上传部分-->




	<!--图片上传展示部分-->
	<section class="function_show">
		<div class="container">
			<div class="row">
                <div class="row">
                    <div class="col-md-3 col-xs-12"></div>
                    <div class="col-md-6 col-xs-12">
                        <img src="" id="showImg" alt="" width="100%">
                        <form class="form-horizontal" id="imgform" enctype="multipart/form-data">



                            <div class="function_upload">


	    <div class="upload">
			<label for="imgUpload" class="imgUploadButton"><h3><span class="glyphicon glyphicon-plus"></span>请上传您的图片</h3></label>
			<input type="file" name="file" id="imgUpload" accept="image/*">

		</div>
		<p>(否则将影响图片的生成质量)</p>
	</div>
                            <div class="form-group">
                                <label for="imgTitle" class="col-sm-2 control-label">名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="workName" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imgDes" class="col-sm-2 control-label">描述：</label>
                                <div class="col-sm-10">
						            <input type="text" class="form-control" id="logoName" name="desc">
                                </div>
                            </div>

                        </form>
                        <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" id="generate">点击生成</button>
                                </div>
                            </div>
                    </div>
                </div>
			</div>
		</div>
	</section>





{% endblock %}

{% block end_js %}
    <script type="text/javascript" src="/static/js/ImageUpload.js"></script>

    <script>
      $(function(){
            $('#generate').on('click', function(){
                var formData = new FormData($('#imgform')[0]);

                formData.append("sort","1");

                $.ajax({
                    cache: false,
                    type: "post",
                    url:"{% url 'works:generategray' %}",
                    data:formData,
                    processData: false,
                    contentType: false,
                    beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                         if(data.status ==='success'){

                             task_id=data.task_id;
                             window.location.href={% url "process_html" %}+"?task_id="+task_id;

                        }else if(data.status ==='fail'){
                             var obj = eval(data);
                            alert(obj['msg']);
                            window.location.reload();

                        }else {
                            alert("服务器错误，请重试");
                            window.location.reload();
                        }
                    }
                });
            });
      })
    </script>
{% endblock %}


